@media print {
  .no-print {
    display: none !important;
  }
  
  .card {
    border: none !important;
    box-shadow: none !important;
  }
  
  .card-header {
    background-color: #007bff !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
